## Import Library

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

## Data Pre-processing

In [2]:
#import data
df = pd.read_csv('dataset/medical_insurance.csv')
df.head()

,person_id,age,sex,region,urban_rural,income,education,marital_status,employment_status,household_size,...,liver_disease,arthritis,mental_health,proc_imaging_count,proc_surgery_count,proc_physio_count,proc_consult_count,proc_lab_count,is_high_risk,had_major_procedure
0,75722,52,Female,North,Suburban,22700.0,Doctorate,Married,Retired,3,...,0,1,0,1,0,2,0,1,0,0
1,80185,79,Female,North,Urban,12800.0,No HS,Married,Employed,3,...,0,1,1,0,0,1,0,1,1,0
2,19865,68,Male,North,Rural,40700.0,HS,Married,Retired,5,...,0,0,1,1,0,2,1,0,1,0
3,76700,15,Male,North,Suburban,15600.0,Some College,Married,Self-employed,5,...,0,0,0,1,0,0,1,0,0,0
4,92992,53,Male,Central,Suburban,89600.0,Doctorate,Married,Self-employed,2,...,0,1,0,2,0,1,1,0,1,0

In [3]:
#inspect data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 54 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   person_id                    100000 non-null  int64
 1   age                          100000 non-null  int64
 2   sex                          100000 non-null  object
 3   region                       100000 non-null  object
 4   urban_rural                  100000 non-null  object
 5   income                       100000 non-null  float64
 6   education                    100000 non-null  object
 7   marital_status               100000 non-null  object
 8   employment_status            100000 non-null  object
 9   household_size               100000 non-null  int64
 10  dependents                   100000 non-null  int64
 11  bmi                          100000 non-null  float64
 12  smoker                       100000 non-null  object
 13  alcohol_freq                 69917 non-null   object
 14  visits_last_year             100000 non-null  int64
 15  hospitalizations_last_3yrs   100000 non-null  int64
 16  days_hospitalized_last_3yrs  100000 non-null  int64
 17  medication_count             100000 non-null  int64
 18  systolic_bp                  100000 non-null  float64
 19  diastolic_bp                 100000 non-null  float64
 20  ldl                          100000 non-null  float64
 21  hba1c                        100000 non-null  float64
 22  plan_type                    100000 non-null  object
 23  network_tier                 100000 non-null  object
 24  deductible                   100000 non-null  int64
 25  copay                        100000 non-null  int64
 26  policy_term_years            100000 non-null  int64
 27  policy_changes_last_2yrs     100000 non-null  int64
 28  provider_quality             100000 non-null  float64
 29  risk_score                   100000 non-null  float64
 30  annual_medical_cost          100000 non-null  float64
 31  annual_premium               100000 non-null  float64
 32  monthly_premium              100000 non-null  float64
 33  claims_count                 100000 non-null  int64
 34  avg_claim_amount             100000 non-null  float64
 35  total_claims_paid            100000 non-null  float64
 36  chronic_count                100000 non-null  int64
 37  hypertension                 100000 non-null  int64
 38  diabetes                     100000 non-null  int64
 39  asthma                       100000 non-null  int64
 40  copd                         100000 non-null  int64
 41  cardiovascular_disease       100000 non-null  int64
 42  cancer_history               100000 non-null  int64
 43  kidney_disease               100000 non-null  int64
 44  liver_disease                100000 non-null  int64
 45  arthritis                    100000 non-null  int64
 46  mental_health                100000 non-null  int64
 47  proc_imaging_count           100000 non-null  int64
 48  proc_surgery_count           100000 non-null  int64
 49  proc_physio_count            100000 non-null  int64
 50  proc_consult_count           100000 non-null  int64
 51  proc_lab_count               100000 non-null  int64
 52  is_high_risk                 100000 non-null  int64
 53  had_major_procedure          100000 non-null  int64
dtypes: float64(13), int64(31), object(10)
memory usage: 41.2+ MB

In [4]:
df['alcohol_freq'] = df['alcohol_freq'].fillna('None')
df.head()

,person_id,age,sex,region,urban_rural,income,education,marital_status,employment_status,household_size,...,liver_disease,arthritis,mental_health,proc_imaging_count,proc_surgery_count,proc_physio_count,proc_consult_count,proc_lab_count,is_high_risk,had_major_procedure
0,75722,52,Female,North,Suburban,22700.0,Doctorate,Married,Retired,3,...,0,1,0,1,0,2,0,1,0,0
1,80185,79,Female,North,Urban,12800.0,No HS,Married,Employed,3,...,0,1,1,0,0,1,0,1,1,0
2,19865,68,Male,North,Rural,40700.0,HS,Married,Retired,5,...,0,0,1,1,0,2,1,0,1,0
3,76700,15,Male,North,Suburban,15600.0,Some College,Married,Self-employed,5,...,0,0,0,1,0,0,1,0,0,0
4,92992,53,Male,Central,Suburban,89600.0,Doctorate,Married,Self-employed,2,...,0,1,0,2,0,1,1,0,1,0

In [5]:
#cek duplikasi data
df.duplicated().sum()

np.int64(0)

In [6]:
#cek missing value
df.isna().sum()

person_id                      0
age                            0
sex                            0
region                         0
urban_rural                    0
income                         0
education                      0
marital_status                 0
employment_status              0
household_size                 0
dependents                     0
bmi                            0
smoker                         0
alcohol_freq                   0
visits_last_year               0
hospitalizations_last_3yrs     0
days_hospitalized_last_3yrs    0
medication_count               0
systolic_bp                    0
diastolic_bp                   0
ldl                            0
hba1c                          0
plan_type                      0
network_tier                   0
deductible                     0
copay                          0
policy_term_years              0
policy_changes_last_2yrs       0
provider_quality               0
risk_score                     0
annual_medical_cost            0
annual_premium                 0
monthly_premium                0
claims_count                   0
avg_claim_amount               0
total_claims_paid              0
chronic_count                  0
hypertension                   0
diabetes                       0
asthma                         0
copd                           0
cardiovascular_disease         0
cancer_history                 0
kidney_disease                 0
liver_disease                  0
arthritis                      0
mental_health                  0
proc_imaging_count             0
proc_surgery_count             0
proc_physio_count              0
proc_consult_count             0
proc_lab_count                 0
is_high_risk                   0
had_major_procedure            0
dtype: int64

In [7]:
#memisahkan data kategorikal dan numerik
nums = df.select_dtypes(include=['number']).columns.tolist()
cats = df.select_dtypes(exclude=['number']).columns.tolist()
df[nums].head()

,person_id,age,income,household_size,dependents,bmi,visits_last_year,hospitalizations_last_3yrs,days_hospitalized_last_3yrs,medication_count,...,liver_disease,arthritis,mental_health,proc_imaging_count,proc_surgery_count,proc_physio_count,proc_consult_count,proc_lab_count,is_high_risk,had_major_procedure
0,75722,52,22700.0,3,1,27.4,2,0,0,4,...,0,1,0,1,0,2,0,1,0,0
1,80185,79,12800.0,3,1,26.6,2,0,0,3,...,0,1,1,0,0,1,0,1,1,0
2,19865,68,40700.0,5,3,31.5,1,0,0,4,...,0,0,1,1,0,2,1,0,1,0
3,76700,15,15600.0,5,3,31.6,0,0,0,1,...,0,0,0,1,0,0,1,0,0,0
4,92992,53,89600.0,2,0,30.5,3,0,0,2,...,0,1,0,2,0,1,1,0,1,0

In [8]:
df[cats].head()

,sex,region,urban_rural,education,marital_status,employment_status,smoker,alcohol_freq,plan_type,network_tier
0,Female,North,Suburban,Doctorate,Married,Retired,Never,None,PPO,Bronze
1,Female,North,Urban,No HS,Married,Employed,Never,Weekly,POS,Gold
2,Male,North,Rural,HS,Married,Retired,Never,None,HMO,Platinum
3,Male,North,Suburban,Some College,Married,Self-employed,Never,None,HMO,Silver
4,Male,Central,Suburban,Doctorate,Married,Self-employed,Never,Daily,POS,Platinum

In [9]:
df.describe().round(2)

,person_id,age,income,household_size,dependents,bmi,visits_last_year,hospitalizations_last_3yrs,days_hospitalized_last_3yrs,medication_count,...,liver_disease,arthritis,mental_health,proc_imaging_count,proc_surgery_count,proc_physio_count,proc_consult_count,proc_lab_count,is_high_risk,had_major_procedure
count,100000.00,100000.00,100000.00,100000.00,100000.00,100000.00,100000.00,100000.00,100000.00,100000.00,...,100000.00,100000.00,100000.00,100000.00,100000.00,100000.00,100000.00,100000.00,100000.00,100000.00
mean,50000.50,47.52,49873.90,2.43,0.90,26.99,1.93,0.09,0.37,1.24,...,0.01,0.11,0.13,0.51,0.16,0.51,0.51,0.51,0.37,0.17
std,28867.66,15.99,46800.21,1.08,0.95,4.99,1.74,0.30,1.37,1.21,...,0.12,0.31,0.34,0.75,0.46,0.75,0.75,0.75,0.48,0.38
min,1.00,0.00,1100.00,1.00,0.00,12.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,25000.75,37.00,21100.00,2.00,0.00,23.60,1.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,50000.50,48.00,36200.00,2.00,1.00,27.00,2.00,0.00,0.00,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,75000.25,58.00,62200.00,3.00,1.00,30.40,3.00,0.00,0.00,2.00,...,0.00,0.00,0.00,1.00,0.00,1.00,1.00,1.00,1.00,0.00
max,100000.00,100.00,1061800.00,9.00,7.00,50.40,25.00,3.00,21.00,11.00,...,1.00,1.00,1.00,7.00,6.00,7.00,7.00,7.00,1.00,1.00

In [10]:
#mendeskripsikan data
df.describe(include='object')

,sex,region,urban_rural,education,marital_status,employment_status,smoker,alcohol_freq,plan_type,network_tier
count,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000
unique,3,5,3,6,4,4,3,4,4,4
top,Female,South,Urban,Bachelors,Married,Employed,Never,Occasional,PPO,Silver
freq,49193,28029,60019,27996,53252,55269,69709,45078,35167,40177

In [11]:
#mencari outlier dengan metode IQR
Q1 = df[nums].quantile(0.25)
Q3 = df[nums].quantile(0.75)
IQR = Q3 -Q1

outliers = ((df[nums] < (Q1 - 1.5 * IQR)) | (df[nums] > (Q3 + 1.5 * IQR)))
print(outliers.sum())

person_id                          0
age                              864
income                          6236
household_size                  4052
dependents                      6306
bmi                              676
visits_last_year                2083
hospitalizations_last_3yrs      8969
days_hospitalized_last_3yrs     8969
medication_count                 492
systolic_bp                      613
diastolic_bp                     682
ldl                              668
hba1c                           7465
deductible                      5013
copay                              0
policy_term_years                  0
policy_changes_last_2yrs        4953
provider_quality                 361
risk_score                         0
annual_medical_cost             6772
annual_premium                  6927
monthly_premium                 6925
claims_count                    5154
avg_claim_amount                6581
total_claims_paid               6963
chronic_count                   2778
hypertension                   20345
diabetes                        8593
asthma                          5887
copd                            3595
cardiovascular_disease          5117
cancer_history                  2151
kidney_disease                  1462
liver_disease                   1477
arthritis                      10831
mental_health                  13014
proc_imaging_count              2070
proc_surgery_count             12519
proc_physio_count               2036
proc_consult_count              2131
proc_lab_count                  2090
is_high_risk                       0
had_major_procedure            16970
dtype: int64

## Feature Engineering

1. pengelompokkan usia

In [12]:
df['age_group'] = [
    'Child' if n <= 12
    else 'Teen' if n <= 17
    else 'Young Adult' if n <= 25
    else 'Early Adult' if n <= 35
    else 'Mid Adult' if n <= 50
    else 'Senior Adult' if n <= 65
    else 'Elderly'
    for n in df['age']
]
df[['person_id','age','age_group']].head()

   person_id  age     age_group
0      75722   52  Senior Adult
1      80185   79       Elderly
2      19865   68       Elderly
3      76700   15          Teen
4      92992   53  Senior Adult

2. income group

In [13]:
df['income_group'] = [
    'Low' if n < 25000
    else 'Mid' if n < 60000
    else 'Upper-Mid' if n < 120000
    else 'High'
    for n in df['income']
]
df[['person_id','income','income_group']].head()

   person_id   income income_group
0      75722  22700.0          Low
1      80185  12800.0          Low
2      19865  40700.0          Mid
3      76700  15600.0          Low
4      92992  89600.0    Upper-Mid

3. BMI Category

In [14]:
df['bmi_category'] = [
    'Underweight' if n < 18.5
    else 'Normal' if n < 25
    else 'Overweight' if n < 30
    else 'Obese'
    for n in df['bmi']
]
df[['person_id','bmi','bmi_category']].head()

   person_id   bmi bmi_category
0      75722  27.4   Overweight
1      80185  26.6   Overweight
2      19865  31.5        Obese
3      76700  31.6        Obese
4      92992  30.5        Obese

4. blood pressure category

In [15]:
df['bp_category'] = [
    'Normal' if n < 120
    else 'Prehypertension' if n < 140
    else 'Hypertension'
    for n in df['systolic_bp']
]
df[['person_id','systolic_bp','bp_category']].head()

   person_id  systolic_bp      bp_category
0      75722        121.0  Prehypertension
1      80185        131.0  Prehypertension
2      19865        160.0     Hypertension
3      76700        104.0           Normal
4      92992        136.0  Prehypertension

5. loss ratio untuk mengetahui seberapa rugi perusahaan terhadap pelanggan

In [16]:
df['loss_ratio'] = df['total_claims_paid'] / (df['annual_premium'] + 1)
df[['person_id','total_claims_paid','annual_premium', 'loss_ratio']].head()

   person_id  total_claims_paid  annual_premium  loss_ratio
0      75722            4672.59          876.05    5.327621
1      80185            1189.08          445.10    2.665501
2      19865               0.00         1538.02    0.000000
3      76700               0.00          820.63    0.000000
4      92992            1002.24          500.93    1.996772

6. mengubah region agar dapat dideteksi pada fitur map

In [17]:
def map_region_uk(region):
    r = str(region).strip().lower()

    if r == "north":
        return "North East"
    elif r == "south":
        return "South East"
    elif r == "east":
        return "East of England"
    elif r == "west":
        return "West Midlands"
    elif r == "central":
        return "East Midlands"
    else:
        return "Unknown"

# Apply ke dataframe Anda
df["Region_UK"] = df["region"].apply(map_region_uk)

In [18]:
# Tentukan rentang tanggal
start_date = pd.to_datetime("2023-01-01")
end_date   = pd.to_datetime("2024-12-31")
day_range  = (end_date - start_date).days

# Tambahkan kolom claim_date acak namun konsisten
df["regist_date"] = start_date + pd.to_timedelta(
    df["person_id"].apply(lambda x: abs(hash(x)) % day_range),
    unit="D"
)

6. Mengurutkan kembali susunan kolom

In [19]:
ordered_columns = [
    # 1. Demographics & Socioeconomic
    "person_id","regist_date", "age", "age_group", "sex", "region", "urban_rural", 
    "income", "income_group", "education",
    "marital_status", "employment_status", "household_size", "dependents",

    # 2. Lifestyle & Habits
    "bmi", "smoker", "alcohol_freq", "bmi_category", "bp_category",

    # 3. Health & Clinical
    "systolic_bp", "diastolic_bp", "ldl", "hba1c", "chronic_count",
    "hypertension", "diabetes", "asthma", "copd", "cardiovascular_disease",
    "cancer_history", "kidney_disease", "liver_disease", "arthritis",
    "mental_health", "risk_score", "is_high_risk",

    # 4. Healthcare Utilization & Procedures
    "visits_last_year", "hospitalizations_last_3yrs",
    "days_hospitalized_last_3yrs", "medication_count", "proc_imaging_count",
    "proc_surgery_count", "proc_physio_count", "proc_consult_count",
    "proc_lab_count", "had_major_procedure", "provider_quality",

    # 5. Insurance & Policy
    "plan_type", "network_tier", "deductible", "copay",
    "policy_term_years", "policy_changes_last_2yrs",
    "annual_premium", "monthly_premium",

    # 6. Medical Costs & Claims
    "annual_medical_cost", "claims_count", "avg_claim_amount",
    "total_claims_paid", "loss_ratio"
]

# Reorder dataframe
df = df[ordered_columns]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 60 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   person_id                    100000 non-null  int64
 1   regist_date                  100000 non-null  datetime64[ns]
 2   age                          100000 non-null  int64
 3   age_group                    100000 non-null  object
 4   sex                          100000 non-null  object
 5   region                       100000 non-null  object
 6   urban_rural                  100000 non-null  object
 7   income                       100000 non-null  float64
 8   income_group                 100000 non-null  object
 9   education                    100000 non-null  object
 10  marital_status               100000 non-null  object
 11  employment_status            100000 non-null  object
 12  household_size               100000 non-null  int64
 13  dependents                   100000 non-null  int64
 14  bmi                          100000 non-null  float64
 15  smoker                       100000 non-null  object
 16  alcohol_freq                 100000 non-null  object
 17  bmi_category                 100000 non-null  object
 18  bp_category                  100000 non-null  object
 19  systolic_bp                  100000 non-null  float64
 20  diastolic_bp                 100000 non-null  float64
 21  ldl                          100000 non-null  float64
 22  hba1c                        100000 non-null  float64
 23  chronic_count                100000 non-null  int64
 24  hypertension                 100000 non-null  int64
 25  diabetes                     100000 non-null  int64
 26  asthma                       100000 non-null  int64
 27  copd                         100000 non-null  int64
 28  cardiovascular_disease       100000 non-null  int64
 29  cancer_history               100000 non-null  int64
 30  kidney_disease               100000 non-null  int64
 31  liver_disease                100000 non-null  int64
 32  arthritis                    100000 non-null  int64
 33  mental_health                100000 non-null  int64
 34  risk_score                   100000 non-null  float64
 35  is_high_risk                 100000 non-null  int64
 36  visits_last_year             100000 non-null  int64
 37  hospitalizations_last_3yrs   100000 non-null  int64
 38  days_hospitalized_last_3yrs  100000 non-null  int64
 39  medication_count             100000 non-null  int64
 40  proc_imaging_count           100000 non-null  int64
 41  proc_surgery_count           100000 non-null  int64
 42  proc_physio_count            100000 non-null  int64
 43  proc_consult_count           100000 non-null  int64
 44  proc_lab_count               100000 non-null  int64
 45  had_major_procedure          100000 non-null  int64
 46  provider_quality             100000 non-null  float64
 47  plan_type                    100000 non-null  object
 48  network_tier                 100000 non-null  object
 49  deductible                   100000 non-null  int64
 50  copay                        100000 non-null  int64
 51  policy_term_years            100000 non-null  int64
 52  policy_changes_last_2yrs     100000 non-null  int64
 53  annual_premium               100000 non-null  float64
 54  monthly_premium              100000 non-null  float64
 55  annual_medical_cost          100000 non-null  float64
 56  claims_count                 100000 non-null  int64
 57  avg_claim_amount             100000 non-null  float64
 58  total_claims_paid            100000 non-null  float64
 59  loss_ratio                   100000 non-null  float64
dtypes: datetime64[ns](1), float64(14), int64(31), object(14)
memory usage: 45.8+ MB

In [21]:
# daftar kolom yang TIDAK boleh dibulatkan
exclude_cols = ["person_id", "age"]

# pilih semua kolom numerik kecuali yang dikecualikan
num_cols = df.select_dtypes(include=["number"]).columns
cols_to_round = [col for col in num_cols if col not in exclude_cols]

# lakukan pembulatan
df[cols_to_round] = df[cols_to_round].round(2)

In [22]:
df["income"] = df["income"].round(0).astype(int)

In [23]:
df.head()

,person_id,regist_date,age,age_group,sex,region,urban_rural,income,income_group,education,...,copay,policy_term_years,policy_changes_last_2yrs,annual_premium,monthly_premium,annual_medical_cost,claims_count,avg_claim_amount,total_claims_paid,loss_ratio
0,75722,2024-06-16,52,Senior Adult,Female,North,Suburban,22700,Low,Doctorate,...,20,4,0,876.05,73.00,6938.06,1,4672.59,4672.59,5.33
1,80185,2024-09-07,79,Elderly,Female,North,Urban,12800,Low,No HS,...,10,1,0,445.10,37.09,1632.61,4,297.27,1189.08,2.67
2,19865,2023-06-05,68,Elderly,Male,North,Rural,40700,Mid,HS,...,20,10,0,1538.02,128.17,7661.01,0,0.00,0.00,0.00
3,76700,2023-02-20,15,Teen,Male,North,Suburban,15600,Low,Some College,...,20,5,0,820.63,68.39,5130.27,0,0.00,0.00,0.00
4,92992,2023-10-10,53,Senior Adult,Male,Central,Suburban,89600,Upper-Mid,Doctorate,...,10,7,0,500.93,41.74,1700.73,1,1002.24,1002.24,2.00

In [25]:
df.to_csv("fix_finpro_medinsurance.csv", index=False)